# Standard Operating Procedure - NALIMS: Results Review and Verification

>Most recently edited by: *Paul VanderWeele*  
>Most recent edit date: *14 Sep 2021*  
>Edits were authorized by:  

## Table of Contents

[Purpose and Scope](#purpose-and-scope)  
[Terms and Definitions](#terms-and-definitions)  

## Purpose and Scope

The purpose of this procedure is to explain how to Review, Verify, and Invalidate Results and Samples in the NALIMS software, as well as how to correct results and create new samples.

This procedure does NOT cover [how to Publish Reports](#./Publishing and Issuing Reports.md), nor [how to enter and modify Results](#./Results Entry and Modification.md), nor [how to Review and Verify Results](#./Results Review and Verification.md).

## Terms and Definitions
